.d1
{

text-align:center;
border:none;
border-radius:15px; 
padding:3%;
background:grey;
width:15%;
transition:0.5s;


}

.n1{

font-weight:bold;


}

.d2
{

border-radius:50%;
border:solid;
color:black;
padding:50px;
margin:auto;
width:30px;
height:30px;




}

.d1:hover
{

transform:scale(1.05);
background-color:rgb(240,240,240);





}






