body{
    background-color: rgb(192, 241, 255);
}
header{
    border: solid;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 30px;
}
div.menugauche{
    text-align: center;
    border: solid;
    width: 15%;
    height: 800px;
    border-radius: 10px;
    float: left;
}
div.menudroite{
    border: solid;
    float: left;
    margin-left: 20px;
    width: 83%;
    height: 800px;
}
iframe{
    margin-top: 40px;
    margin-left: 20px;
    height: 600px;
    width: 1000px;
    border: solid;
    float: left;


}
div.photo{
    float: right;
    position: absolute;
    margin-left: 1150px;
    margin-top: 20px;
}
div#menu{
    text-align: center;
    width: 100px;
    color: #000000;
    margin-left: 85px;
}
div#menu ul{
padding: 0;
width: 100px;
border: 1px solid;
margin: 0px;
}
div#menu ul li{
    position:relative;
    list-style: none;
    border-bottom: 1px solid;
}
div#menu ul ul{
    position: absolute;
    top: 0;
    left: 100px;
    display: none;
}
div#menu li a{
    text-decoration: none;
    padding: 4px 0 4px 8px;
    display: block;
    border-left: 8px solid #d71f1f;
    width: 84px;
}
div#menu li a:hover{
    border-left-color: red ;
}

div#menu ul.niveau1 li.sousmenu:hover ul.niveau2,div#menu ul.niveau2 li.sousmenu:hover ul.niveau3{
    display: block;
}
div#menu li:hover{
    background: rgb(173, 10, 10);
}
div#menu li.sousmenu:hover{
    background: rgb(186, 12, 12);
}
div#menu ul ul li a:hover{
    border-left-color:#ffbf00 ;
}
div#menu ul ul ul li a:hover{
    border-left-color:#ff0077 ;
}

